In [24]:
import mysql.connector

mydb = mysql_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="1234",
    database="testdb"
)

In [25]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001E2FA256F98>

In [26]:
mycursor = mydb.cursor()

In [27]:
#mycursor.execute("CREATE DATABASE testdb")

In [28]:
"""mycursor.execute("SHOW DATABASES")
for db in mycursor:
    print(db)"""

'mycursor.execute("SHOW DATABASES")\nfor db in mycursor:\n    print(db)'

In [31]:
#mycursor.execute("CREATE TABLE students(name VARCHAR(255), age INTEGER(10))")

In [30]:
mycursor.execute("SHOW TABLES")
for tb in mycursor:
    print(tb)

('students',)

In [32]:
sqlformula = "INSERT INTO students (name, age) VALUES(%s,%s)"
student1= ("Rachel",22)

In [34]:
mycursor.execute(sqlformula, student1)

In [35]:
mydb.commit()