In [36]:
import mysql.connector

mydb = mysql_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="1234",
    database="testdb"
)

In [37]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001E2FA28C940>

In [38]:
mycursor = mydb.cursor()

In [39]:
#mycursor.execute("CREATE DATABASE testdb")

In [40]:
"""mycursor.execute("SHOW DATABASES")
for db in mycursor:
    print(db)"""

'mycursor.execute("SHOW DATABASES")\nfor db in mycursor:\n    print(db)'

In [41]:
#mycursor.execute("CREATE TABLE students(name VARCHAR(255), age INTEGER(10))")

In [42]:
mycursor.execute("SHOW TABLES")
for tb in mycursor:
    print(tb)

('students',)

In [43]:
#sqlformula = "INSERT INTO students (name, age) VALUES(%s,%s)"
#student1= ("Rachel",22)

In [44]:
#mycursor.execute(sqlformula, student1)

In [45]:
#mydb.commit()

In [46]:
sqlformula = "INSERT INTO students (name, age) VALUES(%s,%s)"

In [47]:
students= [("Ilsa",23),
          ("Hamza Rao",23),
          ("Abid",22),
          ("Irfan",21),
          ("Maryam",20),
          ("Wisha",22),
          ("Mahnoor",21),]

In [48]:
mycursor.executemany(sqlformula, students)

In [49]:
mydb.commit()