In [97]:
import mysql.connector

mydb = mysql_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="1234",
    database="testdb"
)

In [98]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001E2FA2A4208>

In [99]:
mycursor = mydb.cursor()

In [100]:
#mycursor.execute("CREATE DATABASE testdb")

In [101]:
"""mycursor.execute("SHOW DATABASES")
for db in mycursor:
    print(db)"""

'mycursor.execute("SHOW DATABASES")\nfor db in mycursor:\n    print(db)'

In [102]:
#mycursor.execute("CREATE TABLE students(name VARCHAR(255), age INTEGER(10))")

In [103]:
mycursor.execute("SHOW TABLES")
for tb in mycursor:
    print(tb)

('students',)

In [104]:
#sqlformula = "INSERT INTO students (name, age) VALUES(%s,%s)"
#student1= ("Rachel",22)

In [105]:
#mycursor.execute(sqlformula, student1)

In [106]:
#mydb.commit()

In [107]:
sqlformula = "INSERT INTO students (name, age) VALUES(%s,%s)"

In [108]:
"""students= [("Ilsa",23),
          ("Hamza Rao",23),
          ("Abid",22),
          ("Irfan",21),
          ("Maryam",20),
          ("Wisha",22),
          ("Mahnoor",21),]"""

'students= [("Ilsa",23),\n          ("Hamza Rao",23),\n          ("Abid",22),\n          ("Irfan",21),\n          ("Maryam",20),\n          ("Wisha",22),\n          ("Mahnoor",21),]'

In [109]:
mycursor.executemany(sqlformula, students)

In [110]:
mydb.commit()

In [111]:
mycursor.execute("SELECT * FROM students")

In [112]:
result = mycursor.fetchall()

In [113]:
for r in result:
    print(r)

('Rachel', 22)
('Ilsa', 23)
('Hamza Rao', 23)
('Abid', 22)
('Irfan', 21)
('Maryam', 20)
('Wisha', 22)
('Mahnoor', 21)
('Ilsa', 23)
('Hamza Rao', 23)
('Abid', 22)
('Irfan', 21)
('Maryam', 20)
('Wisha', 22)
('Mahnoor', 21)
('Ilsa', 23)
('Hamza Rao', 23)
('Abid', 22)
('Irfan', 21)
('Maryam', 20)
('Wisha', 22)
('Mahnoor', 21)

In [114]:
#mycursor.execute("SELECT age FROM students")

In [115]:
result = mycursor.fetchall()

In [116]:
for r in result:
    print(r)

In [117]:
mycursor.execute("SELECT age FROM students")
result = mycursor.fetchone()
for r in result:
    print(r)

22

In [118]:
q2 = "SELECT * FROM students WHERE name='Hamza'"

In [119]:
mycursor.execute(q2)

InternalError: Unread result found

In [120]:
result = mycursor.fetchall()

In [121]:
mycursor.execute("SELECT age FROM students")
result = mycursor.fetchone()
for r in result:
    print(r)

22